body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #e10800;
}




.f1_logo {
  width:200px;
}

.driver_image {
  height: 100px;
  width: 100px;
}

.driver_single_image {
  height: 200px;
  width: 200px;
}

.team_image {
  height: 100px;
  width: 150px;
}

.team_single_image{
  height: 200px;
  width: 300px;
}





/* This is the background colour of my f1 logo which i am keeping unless i need it for future use */
/* background-color: #e10800; */