@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
body{
  background-color: #e10800;
  font-family: 'Titillium Web';
}


.error{
  background-image: url('/static/images/404_not_found_car.jpg');
  backdrop-filter: blur(0px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.heading_home{
  max-width: 900px; /* Adjust this value to control the maximum width before text wraps */
  margin: 20px auto 0; /* Center horizontally and add margin at the top */
  word-wrap: break-word; /* Allows long words to be broken and wrap */
  overflow-wrap: break-word; /* Alternative property for older browsers */
  color:rgb(219, 14, 14)
}

.homepage{
  background-image: url(/static/images/F1_home_blured.JPG);
  background-size:cover;
}

.heading_error{
  max-width: 900px; /* Adjust this value to control the maximum width before text wraps */
  margin: 70px auto 0; /* Center horizontally and add margin at the top */
  word-wrap: break-word; /* Allows long words to be broken and wrap */
  overflow-wrap: break-word; /* Alternative property for older browsers */
  color: #9A349F;
}


.background_image{
  background-image: url(/static/images/f1blacklogo.jpg);
}


.driver_image{
  height: 200px;
  width: 200px;
}

.row{
  text-align: center;
  color:red;
  font-size: x-large;
}

p{
  text-align: center;
  color:red;
  font-size: x-large;
}

.hover{
  background-color: #e67b51; 
  border: 2px solid rgb(255, 3, 3);
  color: rgb(0, 0, 0);
  padding: 39px 67px;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  margin: 4px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}


.p{
  font-size: x-large;
  color: rgb(228, 104, 2);
  max-width: 900px; /* Adjust this value to control the maximum width before text wraps */
  margin: 20px auto 0; /* Center horizontally and add margin at the top */
  word-wrap: break-word; /* Allows long words to be broken and wrap */
  overflow-wrap: break-word; /* Alternative property for older browsers */
}


.hover:hover{
    background-color: rgb(248, 0, 0);
    color: rgb(255, 255, 255);
    font-size: xx-large;
    box-shadow: 0 6px rgba(0,0,0,0.12),0 8px 25px 0 rgba(0,0,0,0.12);
    box-sizing: 250px;
   
}

.image img{
   margin-left:650px;
   height: 200px;
   width: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* Adjust min and max values as needed */
  padding: 10px;
  align-self: auto;
  
}


/* Grid item styles */
.grid-item {
  padding:  0 10px;
  font-size: 30px;
  text-align: center;
  flex: 0 0 calc(33.33% - 20px);
  margin-top: 10px;
}

.team_image {
  height: 200px;
  width: 250px;
}


footer{
  color: red;
  margin-top: 45%;
  padding-top: 60px;
  position: relative;
}
