<!-- All Drivers Page -->


{% extends "layout.html" %}
{% block content %}



<body class="background_image">

    <div class = "grid-container">
            {% for driver in drivers %}
                <!-- Gets the style from css, makes the link to the driver with the id, and displayes the hover no_hover css while also showing the image -->
            <div class ="grid-item"><a href="/drivers/{{driver[0]}}" class = "hover no_hover"><img src="/static/images/{{driver[2]}}" class="driver_image">
                <br>
                <!-- Displayes the name -->
                <span class = "driver_name">{{driver[1]}}</span>
            </a></div>   
            {%endfor%}
    </div>
</body>

{% endblock %}
