{% extends "layout.html" %}
{% block content %}
<!-- table from w3 schools -->
<table class="w3-table-all">
<tr>
    <th>Name</th>
    <th>DOB</th>
    <th>Nationality</th>
    <th>Seasons</th>
    <th>Pole Positions</th>
    <th>Drivers Championships</th>
    <th>Race wins</th>
    <th>Career points</th>
    <th>Fastest Laps</th>
    <th>First entry</th>
</tr>
{% for driver in drivers %}
<tr>

    <td>{{driver [1]}}</td>
    <td>{{driver [2]}}</td>
    <td>{{driver [3]}}</td>
    <td>{{driver [4]}}</td>
    <td>{{driver [5]}}</td>
    <td>{{driver [6]}}</td>
    <td>{{driver [7]}}</td>
    <td>{{driver [8]}}</td>
    <td>{{driver [9]}}</td>
    <td>{{driver [10]}}</td>
  
</tr>
{%endfor%}

</table>
{% endblock %}

