<!-- Driver Page -->

{% extends "layout.html" %}
{% block content %}
<body>
<main class="image">
       <!-- Gets the driver by unpacking from list, shows the image and shows all information from db -->
    <h2 class ="row"><b>{{driver[0][1]}}</b></h2>
    <hr>
    <!-- class="driver_single_image" -->
    <img src="/static/images/{{driver[0][11]}}">
    <div class ="row">
    <p><b>Date of Birth:</b> {{driver[0][2]}}</p>
    <p><b>Nationality:</b> {{driver[0][3]}}</p>
    <p><b>Seasons:</b> {{driver[0][4]}}</p>
    <p><b>Pole Positions:</b> {{driver[0][5]}}</p>
    <p><b>Drivers Championships:</b> {{driver[0][6]}}</p>
    <p><b>Race Wins:</b> {{driver[0][7]}}</p>
    <p><b>Career Points:</b> {{driver[0][8]}}</p>
    <p><b>Fastest laps:</b> {{driver[0][9]}}</p>
    <p><b>First Entry:</b> {{driver[0][10]}}</p>
    <br>
    </div>
    


    <!-- takes the information from seats and displays it onto the drivers page. Orders the information by year joined and shows if the driver is a reserve driver or not in that given year -->
    <div class ="row">
        <p ><b>Seats:</b></p>
    {% for seat in seats %}
    <p >Team: {{seat[5]}}</p>
    </div>
    <img src="/static/images/{{seat[6]}}" class="team_image">
    <div  class ="row">
        <p>Joined: In the year {{seat[2]}}</p>
        {% if seat[3] != None %}
        <p>Left: In the year {{seat[3]}}</p>
        {% endif %}
        {% if seat[4] %}
        <p>Reserve: Yes</p>
        {% else %}
        <p>Reserve: No</p>
        {% endif %}
        <br>
    </div>
  

    {% endfor %}
</main>

</body>
{% endblock %}

