<!-- Home Page -->


{% extends "layout.html" %}
{% block content %}
<body>
    <h1 class="heading_home">What is Formula One and why is it so great?</h1>
    <b><p class ="p"><b>Formula 1, or F1, is a globally celebrated motorsport featuring cutting-edge cars, elite drivers, and a rich history. Known for its high-speed races on circuits worldwide, F1 showcases technological innovation, team dynamics, and thrilling drama. The sport's international appeal, environmental efforts, and cultural impact make it a beloved
        spectacle that continues to captivate millions of fans, combining speed, strategy, and human excellence on a global stage.</b></p>
        <h2 class="heading_home">What can you expect on my site?</h2>
        <b><p class ="p">My website will showcase a wide range of drivers ranging all the way back to the 
            2021 Formula One season as well as the teams. On these pages you will be able to see all of 
            the amazing statistics from each driver and team. 
            Please Note that all of the statistics information has stopped been updated by 07/08/2023</p></b>
</body>
{% endblock %}