<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <head>
        <title>Link CSS to HTML</title>
        <link rel ="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body class="w3-container">
        <nav>
            {% include "nav.html" %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>