{% extends "layout.html" %}
{% block content %}
<!-- Table from w3 schools -->
<table class="w3-table-all">
    <!-- Table row header names -->
    <tr>
        <th>Name</th>
        <!-- This empty th tag is for showing the image -->
        <th></th>
    </tr>

{% for team in teams %}
<tr>
<!-- Links to teams/int id then gets the name. -->
    <td><a href="/teams/{{team[0]}}">{{team[1]}}</a></td>
    <!-- Goes to image source in static and images and then retrieves the sixth entry which is image and gets the class from css -->
    <td><img src="/static/images/{{team[6]}}" class="team_image"></td>
</tr>

{% endfor %}
</table>
{% endblock %}